@import "@styles/mixins.scss";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	align-self: center;
	width: 400px;
	background-color: var(--color-bg);
	color: var(--color-txt);

	.searchInput {
		background-color: inherit;
		width: 100%;
		border: 1px solid var(--color-bg-4);

		.inputField {
			color: var(--color-txt);
			background-color: inherit;
			font-size: 20px;
		}
	}

	.translationBox {
		.searchTitle {
			color: var(--color-txt-blue);
		}
	}

}