.button {
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid;

    color: var(--color-txt-blue);
    background-color: var(--color-bg);
    filter: contrast(1.1);
    
    transition: filter .3s;
    
    &:hover {
        filter: contrast(1.3);
    }
    &:disabled {
        filter: contrast(.7);
    }
}