.inputStep {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

    .stepTitle {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 500;
        color: var(--color-txt-blue);
        border-bottom: 1px solid var(--color-overlay-2);
        padding-bottom: 5px;
    }
    .labeledInput {
        display: flex;
        align-items: center;
        gap: 5px;
        .label {
            color: var(--color-txt-2);
            font-weight: 500;
            font-size: 20px;
        }
        #throwLoopError {
            height: 20px;
            width: 20px;
        }
    }
    .codeInput {
        width: 100%;
        .codeTextArea {
            padding-left: 20px;
        }
    }
}