.container {
    position: fixed;
    left: -150px;
    opacity: 0;

    bottom: 100px;
    background-color: var(--color-8-t);
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    transition: left .5s, opacity .5s;
    color: var(--color-txt);
    z-index: 999;
    pointer-events: none;

    .icon {
        font-size: 30px;
        margin-right: 10px;
    }

    .closeButton {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 15px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:before {
            content: "";
            display: block;
            width: 15px;
            height: 1px;
            background-color: var(--color-txt-lc);
            transition: transform .5s;
            transform-origin: left;
            transform: translateY(-5px) rotate(45deg);

        }
        &:after {
            content: "";
            display: block;
            width: 15px;
            height: 1px;
            background-color: var(--color-txt-lc);
            transform-origin: left;
            transform: translateY(5px) rotate(-45deg);
        }
    }
}


.open {
    left: 10px;
    opacity: 1;
    pointer-events: all;
}