.container {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-bottom: 40px;
    z-index: 100;

    height: fit-content;
    max-height: 80vh;

    width: clamp(200px, 350px, 100%);
    pointer-events: none;
    
    .notificationsContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: auto;
        backdrop-filter: blur(5px);
        pointer-events: all;

        &::-webkit-scrollbar {
            width: 9px;
        }
        &::-webkit-scrollbar-track {
            background: #0000000a;
        }

        width: 100%;
        height: fit-content;
        max-height: 100%;
        
        .notificationContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px;
            border-radius: 10px;
            .top {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                .source {
                    font-weight: 500;
                    font-size: 20px;
                    color: var(--color-txt-notif);
                }
                .closeButton {
                    height: fit-content;
                    .closeIcon {
                        font-size: 25px;
                        color: var(--color-txt-notif);
                    }
                }
            }
            .bottom {
                display: flex;
                align-items: center;
                gap: 5px;
                .typeIcon {
                    flex-shrink: 0;
                    font-size: 40px;
                    size: 40px;
                    width: 40px;
                    height: 40px;
                    color: var(--color-txt-notif);
                    filter: opacity(.8);
                }
                .message {
                    font-size: 20px;
                    color: var(--color-txt-notif);
                }
            }


            &.error {
                background-color: var(--color-error);
            }
            &.warning {
                background-color: var(--color-warning);
            }
            &.info {
                background-color: var(--color-info);
            }
            
        }
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}