.container {
    position: fixed;
    left: 30px;
    bottom: 30px;

    display: flex;
    flex-direction: column-reverse;
    gap: 10px;

    width: clamp(200px, 350px, 100%);
    height: 70vh;
    
    overflow: hidden;
    z-index: 100;
    pointer-events: none;

    &::-webkit-scrollbar {
        width: 9px;
    }
    &::-webkit-scrollbar-track {
        background: #0000000a;
    }
    
    .notificationItem {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        border-radius: 7px;

        color: white;
        background: #272727;
        pointer-events: all;

        .top {
            color: var(--color-txt-notif);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #00000022;
            padding-bottom: 5px;
            font-size: 27px;

            .source {
                font-size: 20px;
                font-weight: 500;
            }
            .closeButton {
                border-radius: 50%;
                &:hover {
                    background-color: rgba(255, 0, 0, 0.212);
                }
            }
        }
        .bottom {
            font-size: 20px;
            padding: 5px 0px;
            color: var(--color-txt-notif);
        }

        &.error {
            background-color: var(--color-error);
        }
        &.warning {
            background-color: var(--color-warning);
        }
        &.info {
            background-color: var(--color-info);
        }
    }
}