@import "../styles/mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;

    
    .title {
        color: var(--color-txt-blue);
        align-self: center;
        font-size: 30px;
    }
    .description {
        color: var(--color-txt);
        font-size: 20px;
        text-indent: 30px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;

        .fileInput {
            display: flex;
            gap: 10px;
            color: var(--color-txt);
            align-items: flex-start;
            
            .fileInputTitle {
                font-size: 20px;
                font-weight: 500;
                color: var(--color-txt-blue);
            }

            .inputField {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .regexp {
                    display: flex;
                    width: 100%;
                }
            }
        }
        .regexInput {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .tableSizeInput {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .throwErrorInput {
            display: flex;
            align-items: center;
            gap: 10px;
            
            .throwErrorTitle {
                font-weight: 500;
                font-size: 20px;
                color: var(--color-txt-blue);
            }
            #throwLoopError {
                width: 20px;
                height: 20px;
                accent-color: var(--color-txt);
            }
        }

        .codeInputs {
            display: flex;
            gap: 10px;
            width: 100%;

            .codeInput {
                width: 0;
                flex-grow: 1;
    
                .editor {
                    padding-left: 20px;
                }
            }

            @include device(smallscreen) {
                flex-direction: column;
                .codeInput {
                    width: auto;
                }
            }
        }
    }

    .createdTable {
        .successfullTitle {
            font-size: 25px;
            color: var(--color-txt);
            text-align: center;
            border-radius: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            animation: greenFade 2s ease forwards;
        }
        .tableContent {
            background-color: crimson;
            height: 400px;
            width: 100%;
            margin-bottom: 200px;
        }
    }
}

@keyframes greenFade {
    from {
        background-color: green;
    }
    to {
        background-color: var(--color-bg);
    }
}