@import "../styles/mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    .pageTitle {
        color: var(--color-txt-blue);
        align-self: center;
        font-size: 30px;
    }
    .description {
        color: var(--color-txt);
        font-size: 20px;
        text-indent: 30px;
    }

    .multiStepForm {
        position: relative;
        width: 600px;
        max-width: 100%;
        align-self: center;
        height: 500px;
        padding: 10px 20px;
        border-radius: 25px;
}

    .hashTableContainer {
        align-self: center;
        width: 50%;
        height: 100px;
        
        .createdHashTableInfo {
            width: 100%;
            height: 100%;
            text-align: center;
            border-radius: 10px;
            font-size: 30px;
            background-color: green;
            animation: greenFade 3s forwards;
        }
    }


}

@keyframes greenFade {
    from {
        background-color: green;
    }
    to {
        background-color: var(--color-bg);
    }
}