@import "../styles/mixins.scss";

.outerContainer {
	margin-top: 60px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 300px;

	.description {
		color: var(--color-txt);
		font-size: 20px;
		text-indent: 30px;
	}

	.multiStepForm {
		position: relative;
		width: 600px;
		max-width: 100%;
		align-self: center;
		height: 500px;
		padding: 10px 20px;
		border-radius: 25px;
	}

	.hashTableContainer {
		display: flex;
		flex-direction: column;
		gap: 50px;
		color: var(--color-txt-blue);
		margin-top: 50px;
		animation: greenFade 1s forwards;

		.searchSection {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.statSection {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}
	}


}

@keyframes greenFade {
	from {
		background-color: rgba(3, 127, 3, 0.299);
	}

	to {
		background-color: var(--color-bg);
	}
}