@tailwind base;
@tailwind components;
@tailwind utilities;





/***** Variables *****/
body {
    --color-1: #e6ebed;
    --color-2: #ffc100;
    --color-3: #1e9adf;
    --color-4: #636466;
    --color-5: #063852;
    --color-6: #293a43;
    --color-7: #ffaa00;
    --color-1-t: #e6ebed77;
    --color-2-t: #ffc10077;
    --color-3-t: #1e9adf77;
    --color-4-t: #63646677;
    --color-5-t: #06385277;
    --color-6-t: #293a4377;
    --color-7-t: #ffaa0077;
    background-color: var(--color-bg);
}
body,
body[data-theme="light"] {
    --color-bg:             var(--color-1);
    --color-bg-contrast-t:  var(--color-5-t);
    --color-bg-header:      var(--color-4);
    --color-txt:            var(--color-6);
    --color-txt-lc:         var(--color-4);
    --color-txt-blue:       #7895d4;
    --color-scroll-bg:      #ddd;
    --color-scroll-bar:     #333;
}

body[data-theme="dark"] {
    --color-bg:             var(--color-6);
    --color-bg-contrast-t:  var(--color-1-t);
    --color-bg-header:      var(--color-5);
    --color-txt:            var(--color-1);
    --color-txt-lc:         var(--color-3);
    --color-txt-blue:       #667fb5;
    --color-scroll-bg:      #333;
    --color-scroll-bar:     #aaa;
}
/***** Variables *****/





* {
    transition: background-color .3s ease, color .3s ease;
}
*:focus:not(:focus-visible){
    outline: none;
}





html, body, #__next {
    height: 100%;
}


::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-scroll-bg);
    padding-left: 1px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-scroll-bar);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }



  @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20%) translateZ(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateZ(50px);
    }
}