@import "../styles/mixins.scss";


.container {
    background-color: var(--color-bg);
    color: var(--color-txt);

    display: flex;
    flex-direction: column;
    gap: 300px;
    

    .introSection {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
        padding-bottom: 20px;
        border-radius: 20px;
        max-width: 1024px;
        width: 100%;
        height: auto;
    
        background-color: var(--color-trans);
    
        .ppContainer {
            position: relative;
            top: -100px;
            left: 5%;
    
            width: 200px;
            height: 200px;
            border-radius: 50%;
            transform: rotate(-5deg);
            filter: saturate(.7);
            
            overflow: hidden;
            flex-shrink: 0;
        }
    
        .introText {
            position: relative;
            margin-left: calc(5% + 5px);
            margin-right: 5%;
    
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            
            .title {
                text-align: center;
                align-self: center;
                font-size: 50px;
                color: var(--color-txt-lct);
                font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            }
            .text {
                font-size: 24px;
                font-weight: 400;
                color: var(--color-txt);
                text-align: justify;
            }
        }
    }
    

    .whoAmISection {
        .iconTextContainer {
            margin-top: 40px;
            display: flex;
            align-items: center;

            stroke: var(--color-txt);
            fill: var(--color-txt);

            .icon {
                width: 2em;
                height: 2em;
                flex-shrink: 0;
            }
            .text {
                margin-left: 25px;
            }
        }
    }

    .knowledgeSection {
        .knowledgeContent {
            margin-top: 100px;
            height: 400px;
            width: 100%;
        }
    }

}



.parentheses {
    color: var(--color-txt-lc);
    
    .link {
        font-size: .9em;
        color: var(--color-txt-blue);
        &:hover {
            color: var(--color-txt-lc);
        }
    }
}

.linkText {
    color: var(--color-txt-blue);
    &:hover {
        color: var(--color-txt-lc);
    }
}
.code {
    background-color: var(--color-bg-lct);
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    &:hover {
        color: var(--color-txt-lc);
    }
}












@include device(tablet) {
    .introSection {
        flex-direction: column;
        align-items: center;

        .ppContainer {
            left: 0;
        }
        .introText {
            top: -80px;
            .title {
                align-self: initial;
                font-size: 40px;
            }
            .text {
                font-size: 20px;
            }
        }
    }

    .iconTextContainer {
        flex-direction: column;
    }
}