.outerContainer {
	margin-top: 50px;
	padding-bottom: 100px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.description {
		font-size: 20px;
		margin-top: 30px;
		color: var(--color-txt-2);
	}

	.scoreboardHeading {
		color: var(--color-txt-blue);
		font-size: 44px;
		margin-top: 170px;
	}

}