.container {
    position: relative;
    overflow: hidden;
    
    width: 100%;
    height: fit-content;
    

    .sliderTitle {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        text-align: center;
        font-size: 30px;
        animation: titleFadeIn .8s;
        z-index: 1;
    }
    .slidingContainer {
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        transition: left .4s ease;
    
        .itemContainer {
            width: 100%;
            flex-shrink: 0;
        }
    }

    .previousButton {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        
        font-size: 40px;
        z-index: 1;
    }
    .nextButton {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        
        font-size: 40px;
        z-index: 1;
    }
}


@keyframes titleFadeIn {
    from { opacity: .4; }
    to { opacity: 1; }
}