$color: #cbccce;

@keyframes pulse {
    50% {
        opacity: .5;
    }
}





.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 60px;
    height: 60px;

    background-color: rgb(0, 0, 0, .07);
    border-width: 2px;
    border-color: var(--color-txt-lc);
    border-radius: 50%;

    scale: 1;
    opacity: 1;
    transition: all .5s ease;
    
    z-index: 100;
    outline: none;


    @media screen and (max-width: 640px) {
        right: 30px;
        bottom: 30px;
    }

    
    .btnIcon {
        color: var(--color-txt-lc);
        transition-duration: 100ms;
    }
}



.open {
    transition: all .5s ease;
    opacity: 0;
    transform: scale(0);
}





.modalGradient1 {
    background: rgb(66, 31, 207);
    background: linear-gradient(140deg, rgb(61, 13, 205) 0%, rgba(8,145,178,1) 100%);
}
.modalGradient2 {
    background: rgb(162,68,31);
    background: linear-gradient(200deg, rgb(196, 71, 29) 0%, rgba(186,22,122,1) 58%, rgba(105,2,119,1) 100%);
}
.themeGradient {
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%, var(--color-theme-grad-1) 0.3%, var(--color-theme-grad-2) 90.2% );
}
.messageModal {
    position: fixed;
    bottom: 20px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 380px;
    height: 580px;
    border-radius: 10px;
    outline: none;
    opacity: 0;
    transition: opacity .2s ease;
    box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.2);
    filter: grayscale(.4);
    color: var(--color-txt);
    
    @media screen and (max-width: 450px) {
        right: 0px;    
    }
}

.fadeIn {
    opacity: 1;
    transform: translateY(-20px);
    transition: transform .3s, opacity .3s ease;
}
.fadeOut {
    opacity: 0;
    transform: translateY(20px);
    transition: transform .3s, opacity .3s ease;
}



.messageModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}



.connectButtonBase {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: 200px;
    border-color: var(--color-txt);
    transition: all .3s ease;
    height: 42px;
    width: 90px;
}
.connectButton {
    &:hover {
        background-color: var(--color-bg);
        transition: all .3s ease;
    }
}

.connectButtonConnecting {
    width: 42px;
    cursor: default;
    transition: width .2s;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}



.themeGradButton {
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        height: 50%;
        width: 100%;
        background-color: #ccc;
    }
    &:after {
        content: "";
        display: block;
        height: 50%;
        width: 100%;
        background-color: #222;
    }
}


.orLine {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 56px;
    margin-bottom: 56px;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
    opacity: 50%;

    div {
        height: .5px;
        width: 100%;
        background-color: var(--color-txt-lc);
    }
    p {
        margin-left: 8px;
        margin-right: 8px;
        color: var(--color-txt-lc);
        font-weight: 400;
    }
}