.button {
    position: fixed;
    right: 50px;
    bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    
    color: var(--color-txt-lc);
    background-color: var(--color-trans);
    border-width: 1px;
    border-color: var(--color-txt-lc);
    border-radius: 50%;

    transition: all .5s ease;
    z-index: 100;

    @media screen and (max-width: 640px) {
        right: 30px;
        bottom: 30px;
    }
}


.contactModal {
    position: fixed;
    bottom: 20px;
    right: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 380px;
    width: 100%;
    height: 580px;

    opacity: 0;
    color: var(--color-txt);
    border-radius: 15px;
    box-shadow: -5px 5px 20px 0px rgba(0,0,0,.2);
    filter: grayscale(.4);
    transition: transform .3s, opacity .3s ease;

    .modalHeader {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin-top: 5px;
        font-size: 24px;
        font-weight: 500;
    }

    .modelContentContainer {
        width: 85%;
        height: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            text-decoration: underline;
            
            a {
                margin-top: 10px;
            }
        }

        .lineContainer {
            display: flex;
            align-items: center;
            filter: opacity(.7);

            .lineText {
                padding-left: 10px;
                padding-right: 10px;
                color: var(--color-txt-lc);
            }
            .line {
                width: 100%;
                height: .5px;
                background-color: var(--color-txt-lct);
            }
        }
    
        .emailForm {
            border-radius: 10px;    
            color: var(--color-txt);
    
            .input {
                width: 100%;
                margin-top: 20px;
                
                font-size: 18px;
                resize: none;
    
                background: transparent;
                border-bottom: 1px solid var(--color-txt-lct);
                transition: .3s;
                &:focus {
                    outline: none;
                    border-bottom: 1px solid var(--color-txt);
                }
            }
            
            .inputBox {
                position: relative;
                
                label {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: var(--color-txt-lct);
                    transition: .4s;
                    font-size: 18px;
                }
                
                .input:focus~label,
                .input:not(:placeholder-shown)~label {
                    bottom: 20px;
                    color: var(--color-txt-blue);
                    font-size: 16px;
                }
    
                .input {
                    &:not(:placeholder-shown) {
                        border-bottom-color: rgb(223, 74, 74);
                    }
    
                    &:valid {
                        border-bottom: 1px solid var(--color-txt);
                    }
                }
            }
    
            .sendButton {
                display: flex;
                justify-content: center;
                align-items: center;
                
                width: 100%;
                height: 35px;
                margin-top: 5px;
            
                color: #ddd;
                background-color: #177117;
                border-radius: 5px;
                font-size: 15px;
                font-weight: 600;
            
                &:hover {
                    background-color: #2b912b;
                }
            }
        }
    }

    .gradientButtons {
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: flex-end;
    }
}


.contactModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}







.themeGradButton {
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        height: 50%;
        width: 100%;
        background-color: #ccc;
    }
    &:after {
        content: "";
        display: block;
        height: 50%;
        width: 100%;
        background-color: #222;
    }
}




.wplink {
    margin-top: 8px;
    margin-bottom: 20px;
    color: var(--color-txt-lc);

    &:hover {
        color: var(--color-wp);
    }
}



.themeGradient {
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%, var(--color-theme-grad-1) 0.3%, var(--color-theme-grad-2) 90.2% );
}