@import "../../../styles/mixins.scss";

.fullname {
    --scrollY: 0;
    --scroll-amount: max(calc(1 - (var(--scrollY) / 450)), 0);
    font-size: 40px;
    font-weight: 100;
    white-space: nowrap;
    color: var(--color-light-3);
    
    @include device(tablet) {
        font-size: 35px;
    }
    @include device(mobile) {
        font-size: 30px;
    }

    .shrink {
        opacity: var(--scroll-amount);
        font-size: calc(80%*var(--scroll-amount));
    }
    #lastname {
        color: var(--color-blue-3);
    }
}

