.container {

	.comparisonContainer {
		display: flex;
		flex-direction: column;
		width: 100%;

		.comparisonTitle {
			font-size: 24px;
			text-transform: capitalize;
			text-align: center;
			margin-bottom: 30px;
		}

		.iterationInput {
			display: flex;
			gap: 5px;

			p {
				font-size: 20px;
				color: var(--color-txt-2);
				text-transform: capitalize;
			}
		}

		.compareButton {
			margin-top: 10px;
			margin-bottom: 20px;
		}

		.chartTitle {
			color: var(--color-txt-2);
		}

		.compareText {
			color: var(--color-txt-2);
			font-size: 20px;
			height: 60px;
		}
	}

}