@import "../../../styles/mixins.scss";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.inputSection {

		.labeledInputs {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			.labeledInput {
				display: flex;
				align-items: center;
				gap: 5px;

				@include device(mobile) {
					flex-direction: column;
				}

				.input {
					width: 80px;
				}

				.label {
					font-size: 18px;
					color: var(--color-txt-2);
				}
			}
		}

		.compareButton {
			width: 300px;
			max-width: 100%;
			padding: 5px;
			font-size: 18px;
			text-transform: capitalize;
		}

		.compareText {
			color: var(--color-txt-2);
			font-size: 24px;
			text-align: center;
			margin-top: 30px;
			height: 60px;
		}
	}

	.chartsContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 500px;
		max-width: 100%;

		.chartTitle {
			text-align: center;
			color: var(--color-txt-2);
			margin-top: 30px;
		}

		.lineChart {
			width: 100%;
		}

		.barChart {
			width: 250px;
		}
	}

}