.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 5px;
	border-radius: 5px;

	color: var(--color-txt-button);
	background-color: var(--color-bg-button);
	background: linear-gradient(0deg, var(--color-blue-2-dark) 0%, var(--color-blue-2-light) 52%);

	transition: filter .3s, box-shadow .2s;

	&:hover {
		filter: contrast(1.2);
		box-shadow: 3px 3px 5px -3px #000000aa;
	}

	&:active {
		filter: contrast(1);
		box-shadow: 0px 0px 5px -3px #000000aa;
	}

	&:disabled {
		filter: contrast(.4);
		box-shadow: none;
	}

	.hideLabel {
		opacity: 0;
	}

	.spinner {
		position: absolute;
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}